# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/

# ML Models
*.pkl

# VS Code
.vscode/

# System Files
.DS_Store
Thumbs.db

# Dataset (optional if large)
data/raw/
data/processed/
